<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>pro.sygen.colima</string>
    <key>ProgramArguments</key>
    <array>
        <string>__COLIMA_BIN__</string>
        <string>start</string>
        <string>--profile</string>
        <string>__COLIMA_PROFILE__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__BREW_PREFIX__/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
    <key>StandardOutPath</key>
    <string>__SYGEN_ROOT__/logs/colima-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>__SYGEN_ROOT__/logs/colima-launchd.err</string>
</dict>
</plist>
